h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        h5 Cód. 220501007-03
        p.mb-0 Identificar y manejar los diferentes tipos de decisiones en el lenguaje de programación.



