include ../mixins/functions
+pageHeader("Introducción", "assets/images/header/header_media.svg")

.container#page-introduccion

    .header-ecored
        h1 Introducción


    .jumbotron.bg-white

        .row.justify-content-center.align-items-center

            .col-12.col-md-6

                img(src="assets/images/pages/introduccion/introduccion.svg").img-fluid

            .col-12.col-md-6

                hr.line-100.bg-orange
                p.pt-5 El lenguaje de programación Java maneja otro tipo de instrucciones de mayor complejidad que permiten básicamente controlar el flujo de los programas a través de los bloques de secuencia interiores que manejan y que se ejecutan, dependiendo de las condiciones que son analizadas.
                p.pb-5 Dentro de esas instrucciones de mayor complejidad se hallan las estructuras condicionales o llamadas también tipos de decisiones, las cuales son utilizadas para analizar valores en las variables (expresiones) y según los resultados encontrados, ejecutar ciertas acciones.
                hr.line-100.bg-orange


        .jumbotron.my-5
            p Teniendo en cuenta lo anterior, en este material de formación se estudiará la utilización y sintaxis de los diferentes tipos de decisiones en el lenguaje Java.

