.container

    table.table.table-bordered.table-striped
        thead.thead-dark
            tr
                th Autor
                th Tipo de material
                th Enlace del recurso

        tbody

        
            tr
                td Aprenda Java como si estuviera en primero.
                td PDF
                td 
                    a(href="media/documentos/complementarios/MC_AA4_Manual_Practico_Uso_EM.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

            tr
                td Fundamentos de Programación en JAVA

                td PDF
                td 
                    a(href="media/documentos/complementarios/MC_AA4_Aprovechamiento_de_residuos_organicos_agricolas_y_forestales.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar                                      