include ../mixins/functions
+pageHeader("Introducción", "assets/images/header/header_media.svg")

.container#page-introduccion

    .header-ecored
        h2 1.2 If else


    .jumbotron.bg-white.mb-0

        p.mb-5 Consiste en una decisión compuesta; es decir, se evalúa una condición y dependiendo del resultado, en caso de cumplirse, se ejecuta una sentencia o bloque de sentencias, pero en caso de no cumplirse, se ejecuta otra u otras.

        p.mb-5 La sintaxis del tipo de decisión if else es la siguiente:

        p.text-center.my-5
            img(src="assets/images/pages/tema-1/tema-1-2/1.png").img-fluid

        p.mt-5 Se ilustra a continuación el proceso efectuado cuando se utiliza una instrucción if else.
        
        p.text-center.my-5
            img(src="assets/images/pages/tema-1/tema-1-2/2.png").img-fluid

        p.mt-5 Con este tipo de instrucción se tiene entonces la ventaja de que se ejecutan acciones, tanto si la condición se cumple, como si no se cumple; es decir que el usuario siempre va a observar un resultado. Sin embargo, esto no es necesario en todos los casos, ya que si por ejemplo una condición se evalúa y se desea que al ser cumplida se ejecute una acción o en caso de no cumplirse no se ejecute, no necesariamente hay un resultado visible al usuario, sino solamente un funcionamiento diferente a nivel interno en el programa.

        p A continuación, se observan los mismos ejemplos y ejercicios abordados en la instrucción if, pero ya teniendo en cuenta la aplicación del if else.

        .subtitulo-guion.my-5
            h3 Ejemplos

        
        .jumbotron.bg-brand-color-dark-secondary
            p.mb-0 
                strong a. 
                | Utilizar una instrucción if else para verificar si una edad es superior a otra e imprimir en cadenas de texto los resultados, ya sea porque la condición se cumple, o no se cumple.

        p.text-center.my-5
            img(src="assets/images/pages/tema-1/tema-1-2/eje-1-1.png").img-fluid

        p.text-center Código de solución ejemplo a - if else

        p.text-center.my-5
            img(src="assets/images/pages/tema-1/tema-1-2/eje-1-2.png").img-fluid

        p.text-center Ejecución ejemplo a - if else (edad1=17 y edad2=11)

        p.text-center.my-5
            img(src="assets/images/pages/tema-1/tema-1-2/eje-1-3.png").img-fluid

        p.text-center Ejecución ejemplo a - if else (edad1=11 y edad2=17) 


        .jumbotron.bg-brand-color-dark-secondary.my-6
            p.mb-0 
                strong b. 
                | Utilizar una instrucción if else para verificar si un nombre es igual a otro e imprimir en cadenas de texto los resultados, ya sea porque la condición se cumple o no.

        p.text-center.my-5
            img(src="assets/images/pages/tema-1/tema-1-2/eje-2-1.png").img-fluid

        p.text-center Código solución ejemplo b - if else

        p.text-center.my-5
            img(src="assets/images/pages/tema-1/tema-1-2/eje-2-2.png").img-fluid

        p.text-center Ejecución ejemplo b - if else (nombre1="Pablo" y nombre2="Pablo")

        p.text-center.my-5
            img(src="assets/images/pages/tema-1/tema-1-2/eje-2-3.png").img-fluid

        p.text-center Ejecución ejemplo b - if else (nombre1="Pablo" y nombre2="Lorenzo")            

        .jumbotron.bg-brand-color-dark-secondary.my-6
            p.mb-0 
                strong c. 
                | Utilizar una instrucción if else para verificar si una edad está entre 15 y 18 años e imprimir en cadenas de texto los resultados, ya sea porque la condición se cumple o no.

        p.text-center.my-5
            img(src="assets/images/pages/tema-1/tema-1-2/eje-3-1.png").img-fluid

        p.text-center Código solución ejemplo c - if else

        p.text-center.my-5
            img(src="assets/images/pages/tema-1/tema-1-2/eje-3-2.png").img-fluid

        p.text-center Ejecución ejemplo c - if else (edad=17)

        p.text-center.my-5
            img(src="assets/images/pages/tema-1/tema-1-2/eje-3-3.png").img-fluid

        p.text-center Ejecución ejemplo c - if else (edad=11)     


        .subtitulo-guion.my-5
            h3 Ejercicios

        .jumbotron.bg-brand-color-dark-secondary
            p.mb-0 
                strong a. 
                | Pedir al usuario que ingrese por teclado dos números enteros (a y b) y a través de una instrucción if else indicarle cuál de los dos es mayor.

        p.text-center.my-5
            img(src="assets/images/pages/tema-1/tema-1-2/ejercicio-1-1.png").img-fluid

        p.text-center Código solución ejercicio a - if else

        p.text-center.my-5
            img(src="assets/images/pages/tema-1/tema-1-2/ejercicio-1-2.png").img-fluid

        p.text-center Ejecución ejercicio a - if else (a=8 y b=4)

        p.text-center.my-5
            img(src="assets/images/pages/tema-1/tema-1-2/ejercicio-1-3.png").img-fluid

        p.text-center Ejecución ejercicio a - if else (a=2 y b=7)   


        .jumbotron.bg-brand-color-dark-secondary.my-6
            p.mb-0 
                strong b. 
                | Pedir al usuario que ingrese por teclado su edad y haciendo uso de una instrucción if else devolver un mensaje de texto que indique cuando sea o no mayor de edad.

        p.text-center.my-5
            img(src="assets/images/pages/tema-1/tema-1-2/ejercicio-2-1.png").img-fluid

        p.text-center Solución ejercicio b - if else

        p.text-center.my-5
            img(src="assets/images/pages/tema-1/tema-1-2/ejercicio-2-2.png").img-fluid

        p.text-center Ejecución ejercicio b - if else (edad=27)

        p.text-center.my-5
            img(src="assets/images/pages/tema-1/tema-1-2/ejercicio-2-3.png").img-fluid

        p.text-center Ejecución ejercicio b - if else (edad=15) 

        .jumbotron.bg-brand-color-dark-secondary.my-6
            p.mb-0 
                strong c. 
                | Pedir a un estudiante que ingrese por teclado las notas de 3 parciales que equivalen al 25 %, 35 % y 40 %, respectivamente, y calcular la nota final, utilizando la instrucción if else, teniendo en cuenta que se aprueba con 3.5, e imprimir mensajes que indiquen si ha sido aprobado o reprobado.

        p.text-center.my-5
            img(src="assets/images/pages/tema-1/tema-1-2/ejercicio-3-1.png").img-fluid

        p.text-center Código solución ejercicio c - if else

        p.text-center.my-5
            img(src="assets/images/pages/tema-1/tema-1-2/ejercicio-3-2.png").img-fluid

        p.text-center if else (Nota1=3,9 Nota2=2,7 Nota3=4,2)

        p.text-center.my-5
            img(src="assets/images/pages/tema-1/tema-1-2/ejercicio-3-3.png").img-fluid

        p.text-center if else (Nota1=3,5 Nota2=2,8 Nota3=1,7)        