include ../mixins/functions
+pageHeader("Introducción", "assets/images/header/header_media.svg")

.container#page-introduccion

    .header-ecored
        h1 1. Tipos de decisiones


    .jumbotron.bg-white


        p.text-center.my-6
            img(src="assets/images/pages/tema-1/tipo-desiciones.svg").img-fluid


        p.mb-5 Las decisiones consisten en un tipo de instrucciones de control que permiten al programador elegir diferentes acciones alternativas de bloques de código a ser ejecutados; estas instrucciones hacen posible especificar la lógica necesaria, con el fin de que los métodos operen tal como se desea.         

        .bg-brand-color-light.p-4.my-5
            p <strong>Existen dos tipos básicos de decisiones que son el if y el switch;</strong> sin embargo, de acuerdo con los requerimientos del programa, estas se convierten en realidad en cinco tipos diferentes, teniendo en cuenta la forma de utilizarlas.
