include ../mixins/functions
+pageHeader("Introducción", "assets/images/header/header_media.svg")

.container#page-introduccion

    .header-ecored
        h2 1.1 If


    .jumbotron.bg-white.mb-0

        p.mb-5 Consiste en la decisión más simple de todas, se trata de evaluar una condición y dependiendo del resultado de esta, en caso de cumplirse, ejecutar una sentencia o bloque de sentencias. Como recomendación, dichas sentencias deben ir encerradas entre llaves; sin embargo, cuando se trata de una única línea de código, las llaves pueden omitirse.

        p La sintaxis del tipo de decisión if es la siguiente:

        p.text-center.my-5
            img(src="assets/images/pages/tema-1/t1-1.png").img-fluid

        p.mt-5 Se ilustra a continuación el proceso efectuado cuando se utiliza una instrucción if.

        p En el caso de las variables que sean propias de un objeto, los ejemplos serían los siguientes:

        p.text-center.my-5
            img(src="assets/images/pages/tema-1/t1-2.png").img-fluid

        p Las condiciones que se evalúan al utilizar las instrucciones de control se componen de variables y operadores lógicos o de relación, dependiendo de la necesidad que se tenga en la función que se esté programando.

        p Con respecto a dichos operadores, es importante tener en cuenta las reglas de precedencia para poder identificar, en el caso de que las   condiciones sean compuestas, qué se debe analizar primero.

        p.text-center.my-5
            img(src="assets/images/pages/tema-1/t1-3.png").img-fluid

        p En la tabla anterior se puede observar el orden de precedencia de los operadores lógicos.


        .subtitulo-guion.my-5
            h3 Ejemplos

        
        .jumbotron.bg-brand-color-dark-secondary
            p.mb-0 
                strong a. 
                | Utilizar una instrucción if para verificar si una edad es superior a otra, e imprimir en una cadena de texto el resultado.

        p.text-center.my-5
            img(src="assets/images/pages/tema-1/ej-1-1.png").img-fluid

        p.text-center Código solución ejemplo a – if

        p.text-center.my-5
            img(src="assets/images/pages/tema-1/ej-1-2.png").img-fluid

        p.text-center Ejecución ejemplo a - if (edad1=17 y edad2=11)

        p.text-center.my-5
            img(src="assets/images/pages/tema-1/ej-1-3.png").img-fluid

        p.text-center Ejecución ejemplo a - if (edad1=11 y edad2=17)       


        .jumbotron.bg-brand-color-dark-secondary.my-6
            p.mb-0 
                strong b. 
                | Utilizar una instrucción if para verificar si un nombre es igual a otro e imprimir en una cadena de texto el resultado.

        p.text-center.my-5
            img(src="assets/images/pages/tema-1/ej-2-1.png").img-fluid

        p.text-center Código solución ejemplo b – if

        p.text-center.my-5
            img(src="assets/images/pages/tema-1/ej-2-2.png").img-fluid

        p.text-center Ejecución ejemplo b - if (nombre1="Pablo" y nombre2="Lorenzo")

        p.text-center.my-5
            img(src="assets/images/pages/tema-1/ej-2-3.png").img-fluid

        p.text-center Ejecución ejemplo b - if (nombre1="Pablo" y nombre2="Pablo")             

        .jumbotron.bg-brand-color-dark-secondary.my-6
            p.mb-0 
                strong c. 
                | Utilizar una instrucción if para verificar si un nombre es igual a otro e imprimir en una cadena de texto el resultado.

        p.text-center.my-5
            img(src="assets/images/pages/tema-1/ej-3-1.png").img-fluid

        p.text-center Código solución ejemplo c – if

        p.text-center.my-5
            img(src="assets/images/pages/tema-1/ej-3-2.png").img-fluid

        p.text-center Ejecución ejemplo c - if (edad=34)

        p.text-center.my-5
            img(src="assets/images/pages/tema-1/ej-3-3.png").img-fluid

        p.text-center Ejecución ejemplo c - if (edad=17)           


        .subtitulo-guion.my-5
            h3 Ejercicios

        .jumbotron.bg-brand-color-dark-secondary
            p.mb-0 
                strong a. 
                | Pedir al usuario que ingrese por teclado dos números enteros (a y b) y a través de una instrucción if indicarle si a es menor que b.

        p.text-center.my-5
            img(src="assets/images/pages/tema-1/ejercicio-1-1.png").img-fluid

        p.text-center Código solución ejercicio a – if

        p.text-center.my-5
            img(src="assets/images/pages/tema-1/ejercicio-1-2.png").img-fluid

        p.text-center Ejecución ejercicio a - if (números 5 y 7)

        p.text-center.my-5
            img(src="assets/images/pages/tema-1/ejercicio-1-3.png").img-fluid

        p.text-center Ejecución ejercicio a - if (números 11 y 7)    


        .jumbotron.bg-brand-color-dark-secondary.my-6
            p.mb-0 
                strong b. 
                | Pedir al usuario que ingrese por teclado su edad y haciendo uso de una instrucción if devolverle un mensaje de texto que indique si es mayor de edad.

        p.text-center.my-5
            img(src="assets/images/pages/tema-1/ejercicio-2-1.png").img-fluid

        p.text-center Código solución ejercicio b – if

        p.text-center.my-5
            img(src="assets/images/pages/tema-1/ejercicio-2-2.png").img-fluid

        p.text-center Ejecución ejercicio b - if (edad=21)

        p.text-center.my-5
            img(src="assets/images/pages/tema-1/ejercicio-2-3.png").img-fluid

        p.text-center Ejecución ejercicio b - if (edad=16)   

        .jumbotron.bg-brand-color-dark-secondary.my-6
            p.mb-0 
                strong c. 
                | Pedir a un estudiante que ingrese por teclado las notas de 3 parciales que equivalen al 25 %, 35 % y 40 %, respectivamente, y calcular la nota final, utilizando la instrucción if, teniendo en cuenta que se aprueba con 3.5, e imprimir un mensaje que indique si ha aprobado.

        p.text-center.my-5
            img(src="assets/images/pages/tema-1/ejercicio-3-1.png").img-fluid

        p.text-center Código solución ejercicio c – if

        p.text-center.my-5
            img(src="assets/images/pages/tema-1/ejercicio-3-2.png").img-fluid

        p.text-center Ejecución ejercicio c - if (Nota1=3,9 Nota2=2,7 Nota3=4,2)

        p.text-center.my-5
            img(src="assets/images/pages/tema-1/ejercicio-3-3.png").img-fluid

        p.text-center Ejecución ejercicio c - if (Nota1=3,5 Nota2=2,8 Nota3=,7)         